body {
  background-color: #7fffd4;
  text-align: center;
}

.TopDiv {
  background-color: #7fffd4;
}

.MiddleDiv {
  background-color: #ff7f50;
  height: 200px;
  width: 200px;
  border: solid 5px;
}

.BottomDiv {
  background-color: #1e90ff;
  height: 200px;
  width: 200px;
  border: solid 5px;
}

.SpanOne{
  font-weight:bold;
}
h1 {
  font-family: 'Pinyon Script', cursive;
}
.CloudOne{
    position: relative;
    top: 20px;
    left: 210px;
}

.CloudTwo{
    position: absolute;
}

.MountainOne{
    position: relative;
}
